<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">

    <bean id="sum" class="com.example.demo.operations.Sum">
    </bean>

    <bean id="min" class="com.example.demo.operations.Min">
    </bean>
    <bean id="mean" class="com.example.demo.operations.Mean">
    </bean>
    <bean id="max" class="com.example.demo.operations.Max">
    </bean>

    <!--<bean id="..." class="...">-->
        <!-- collaborators and configuration for this bean go here -->
    <!--</bean>-->

    <!-- more bean definitions go here -->
    <jpa:repositories base-package="com.example.demo.repos"/>

</beans>